<div class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Sobre</h4>
            <ul>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Nossa missão</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Para unidades</h4>
            <ul>
                <li><a href="#">Cadastre sua unidade</a></li>
                <li><a href="#">Atualizar informações</a></li>
                <li><a href="#">Área administrativa</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Ajuda</h4>
            <ul>
                <li><a href="#">Perguntas frequentes</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Parceiros</h4>
            <ul>
                <li><a href="#">Ministério da Saúde</a></li>
                <li><a href="#">Secretaria Municipais</a></li>
                <li><a href="#">Hospitais privados</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        © Desafio04 - Trilhas 2025
    </div>
</div>


    <!-- footer original porem maior -->

<!--
<div class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Sobre</h4>
            <ul>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Nossa missão</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Para unidades</h4>
            <ul>
                <li><a href="#">Cadastre sua unidade</a></li>
                <li><a href="#">Atualizar informações</a></li>
                <li><a href="#">Área administrativa</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Ajuda</h4>
            <ul>
                <li><a href="#">Perguntas frequentes</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Parceiros</h4>
            <ul>
                <li><a href="#">Ministério da Saúde</a></li>
                <li><a href="#">Secretaria Municipais</a></li>
                <li><a href="#">Hospitais privados</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        © Desafio04 - Trilhas 2025
    </div>
</div>

-->