<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>Sobre</h3>
            <ul>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Nossa missão</a></li>
            </ul>
        </div>
        
        <div class="footer-column">
            <h3>Para unidades</h3>
            <ul>
                <li><a href="#">Cadastre sua unidade</a></li>
                <li><a href="#">Atualizar informações</a></li>
                <li><a href="#">Área administrativa</a></li>
            </ul>
        </div>
        
        <div class="footer-column">
            <h3>Ajuda</h3>
            <ul>
                <li><a href="#">Perguntas frequentes</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </div>
        
        <div class="footer-column">
            <h3>Parceiros</h3>
            <ul>
                <li><a href="#">Ministério da Saúde</a></li>
                <li><a href="#">Secretarias Municipais</a></li>
                <li><a href="#">Hospitais Privados</a></li>
            </ul>
        </div>
    </div>
    
    <div class="copyright">
        © Desafio04 - Trilhas 2025
    </div>
</footer>