:root {
  --verde-escuro: #4b7358;
  --verde-medio: #e2ede6;
  --cinza-claro: #f5f6f5;
  --branco: #fff;
  --cinza-borda: #b2c6b6;
  --fonte-principal: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background: var(--cinza-claro);
  font-family: var(--fonte-principal);
  color: #222;
}

header {
  background-color:#4b7358;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s;
  font-size: 1.3rem;
}

nav ul li a:hover {
  opacity: 0.8;
  text-decoration: underline;
}



/* Footer */
footer {
  background-color: var(--verde-escuro);
  color: var(--branco);
  padding: 2rem;
  margin-top: 3rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: var(--branco);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.3rem;
}

.footer-column ul li a:hover {
  color: var(--verde-medio);
  text-decoration: underline;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--cinza-borda);
  color: var(--cinza-borda);
  font-size: 1.3rem;
}


/*A VERIFICAR*/




/* Responsividade */
@media (max-width: 768px) {
.header-container {
    flex-direction: column;
    gap: 1rem;
}

.nav-link{
  font-size: 3vw; 
}

nav ul {
    margin-top: 1rem;
}

.search-form {
    flex-direction: column;
}

.results-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
}
